.background-image{
    height: 95vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.75);
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: -1;
}

.nav-link.hover{
    color: #fff;
}

.nav-link::after{
    content:'';
    height: 5px;
    width: 100%;
    background: rgb(0, 180, 250);
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 0;
    transition: all 0.25s;
    pointer-events: none;
}

.nav-link:hover::after{
    opacity: 1;
}

.Card{
    display: flex;
}